* {
  font-family: "Montserrat", sans-serif;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #f8f9fa; /* Change to your desired hover background color */
}

.card-body {
  flex-grow: 1;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

.card-text {
  font-size: 1.25rem; /* Adjust as needed */
  color: #6c757d; /* Adjust text color */
}

.upload-button {
  font-size: 1.25rem;
}

header,
footer {
  background-color: black; 
}

.header-title {
  font-size: 1.75rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.footer-shadow {
  box-shadow: 0 -5px 15px rgba(93, 92, 92, 0.3); /* Shadow for the top of the footer */
}
